@import "../../App.scss";
.container-login {
  margin: auto;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .login-logo {
    transform: scale(0.69);
  }
  .login-message {
    font-size: $fontSize-normal;
  }
  .login-header {
    font-size: $fontSize-header;
  }

  .form-group {
    width: 50%;
    button {
      margin-top: 15px;
      padding: 15px 20px;
      border: none;
      background-color: $primary-color;
      border-radius: 5px;
      color: #053f5c;
      transition: transform 0.3s ease;
      font-size: $fontSize-normal;
      width: 25%;
      align-self: center;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
    display: flex;
    flex-direction: column;
    .name,
    .email,
    .first-name {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 55px;
      label {
        font-size: $fontSize-subHeader;
      }
      input {
        width: 70%;
        border-radius: 5px;
        line-height: 1.5;
        padding: 15px 20px;
        margin: 15px 0px;
        border: none;
        outline: none;
        font-size: $fontSize-subHeader;
        background-color: rgba($color: $primary-color, $alpha: 0.5);
      }
    }
    .error-message {
      position: absolute;
      top: 85%;
      left: 30%;
      z-index: 1;
      color: red;
    }
  }
}
