@import "../../App.scss";
.container-wellcome {
  margin: auto;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 35px;
  .wellcome-logo {
    font-size: $fontSize-header;
    align-self: center;
  }
  .messages {
    align-self: center;
    display: flex;
    color: red;
    font-weight: bold;
    .time {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
