@import "../../App.scss";
.questionForm-container {
  min-width: 70%;
  .current-question {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .countdown-container {
    display: flex;
    align-items: center;
    .flex-growth {
      flex: 1;
    }
    .countdown {
      margin-left: 15px;
    }
  }
  .answer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
    input {
      margin-right: 25px;
      transform: scale(2.5);
      cursor: pointer;
    }
    .answer-input {
      &::selection {
        background-color: $primary-color;
      }
    }
  }
}
