@import "../../App.scss";
.questionForm-container {
  font-size: $fontSize-normal;
  min-width: 70%;

  .countdown-container {
    display: flex;
    align-items: center;
    font-size: $fontSize-subHeader;
    margin-bottom: 5%;
    .flex-growth {
      flex: 1;
    }
    .countdown {
      margin-left: 15px;
      font-size: $fontSize-header;
    }
  }
  .question {
    font-size: $fontSize-header;
    margin-bottom: 5%;
  }
  .answer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: $fontSize-normal;
    input {
      margin-right: 25px;
      transform: scale(2);
      cursor: pointer;
    }
    .answer-input {
      &::selection {
        background-color: $primary-color;
      }
    }
  }
}
// .questionForm-container {

//   .answer-container {
//
//   }
// }
