.QuizContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  .QuizContainer-inner {
    min-width: 70%;
    .progress-bar {
      width: 100%;
      margin-bottom: 5%;
      .ant-progress {
        width: 100%;
        .ant-progress-steps-outer {
          gap: 15px;
          justify-content: center;
          .ant-progress-steps-item {
            width: 10% !important;
          }
        }
      }
    }
  }
}
