* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #90a6b8;
$text-color: #053f5c;
$default-color: #429ebd;

$fontSize-normal: 18px;
$fontSize-header: 35px;
$fontSize-subHeader: 20px;

button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  color: white !important;
  font-weight: bold;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
// $bg-color: #053f5c;
